<div class="row m-5">
  <button type="button" class="btn btn-lg btn-block btn-primary"
          (click)="newUser()"
  >Új felhasználó</button>

</div>


<accordion class="text-info">

  <accordion-group *ngFor="let user of userList | async" heading="{{user.name}}" class="">
    <button type="button" class="btn btn-lg btn-block btn-danger"
    (click)="delUser(user.id)"
    >Törlés</button>
    <div class="card-deck pt-5 pb-5 mx-auto text-center">
      <app-user-cards [oneUser]="user"></app-user-cards>
    </div>
  </accordion-group>

</accordion>
