<div class="card mb-4 shadow-sm ">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">{{oneUser.name}}</h4>
  </div>
  <div class="card-body">
    <div class="text-center">

      <img class="card-img-top mx-auto" src="{{oneUser.profilePictureUrl}}" alt="Card image cap" style="width: 100px;">
    </div>

    <ul class="list-unstyled mt-3 mb-4">
      <li>{{oneUser.id}}</li>
      <li>{{oneUser.email}}</li>

    </ul>
    <button type="button" class="btn btn-lg btn-block btn-info">Gomb</button>
  </div>
</div>


