<div class="container">

  <!-- keresés, létrehozás -->

  <div class="row  justify-content-around px-5 ">

    <div class="col-auto text-center">
      <label>Keresés az események között</label>
      <form class="form-inline my-2 my-lg-0">
        <input #searchInput class="form-control mr-sm-2" type="search" placeholder="Esemény neve">
      </form>
    </div>

    <div class="my-2 my-lg-0 text-center" *ngIf="userService.isLoggedIn$ | async">
      <div>
        <label>Eseményt szeretnék létrehozni</label>
      </div>
      <div class="w-100"></div>
      <div><a routerLink="./new" class="btn btn-primary" role="button">Új esemény léterhozása</a></div>
    </div>

  </div>
  <ng-container *ngIf="events$ | async; else loading">

  <!-- cards -->
  <div class="card-columns" >
    <app-eventcard
                   *ngFor="let event of events$ | async"
                   [esemeny]="event"


    ></app-eventcard>
  </div>
  </ng-container>
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>

  </ng-template>

</div>




