<div class="container">

  <!-- keresés, létrehozás -->

  <div class="row  justify-content-around px-5 ">

    <div class="col-auto text-center">
      <label>Keresés az események között</label>
      <form class="form-inline my-2 my-lg-0">
        <input #searchInput class="form-control mr-sm-2" type="search" placeholder="Esemény neve">
      </form>
    </div>

    <div class="my-2 my-lg-0 text-center" *ngIf="userService.isLoggedIn$ | async">
      <div>
        <label>Eseményt szeretnék létrehozni</label>
      </div>
      <div class="w-100"></div>
      <div><a routerLink="./new" class="btn btn-primary" role="button">Új esemény léterhozása</a></div>
    </div>

  </div>
  <ng-container *ngIf="eventsGrouppedBy3$ | async; else loading">

  <!-- cards -->
  <div class="card-deck pt-5 pb-5" *ngFor="let eventgroup of eventsGrouppedBy3$ | async">
    <!--<app-eventcard class="col col-md-6 col-lg-4"-->
                   <!--*ngFor="let event of eventgroup"-->
                   <!--[esemeny]="event"-->
    <!--&gt;</app-eventcard>-->

  </div>
  </ng-container>
  <ng-template #loading>
    <!--<app-loading-spinner></app-loading-spinner>-->

  </ng-template>

</div>




