<nav class="navbar navbar-expand-lg navbar-light bg-light .collapse">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Jegybazár</a>
    <button
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      class="navbar-toggler"
      aria-controls="navbarNavAltMarkup"
      type="button" data-toggle="collapse"
      data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"  [collapse]="isCollapsed">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLink="/event/list" >Események</a>
        <a class="nav-item nav-link" routerLink="/ticket/list" >Jegyek</a>
        <a class="nav-item nav-link" routerLink="/about" >Rólunk</a>
        <a class="nav-item nav-link" routerLink="/user/login" >Belépés</a>


        <a href="regisztracio.html"
           class="nav-item nav-link btn btn-primary text-light ml-lg-2 btn-sm"
        routerLink="/user/registration">Regisztráció</a>
        <a class="nav-item nav-link"
           routerLinkActive="active"
           (click)="logout()"
        routerLink="#">Kilépés</a>
      </div>
    </div>
  </div>
</nav>

