<nav class="navbar navbar-expand-lg navbar-light bg-light .collapse">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Jegybazár-fifth</a>
    <button
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      class="navbar-toggler"
      aria-controls="navbarNavAltMarkup"
      type="button" data-toggle="collapse"
      data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="isCollapsed">
      <div class="navbar-nav ml-auto">
        <app-navbar-item url="/home" name="Home"></app-navbar-item>
        <app-navbar-item url="/event" name="Események"></app-navbar-item>
        <app-navbar-item url="/ticket" name="Jegyek"></app-navbar-item>
        <app-navbar-item url="/about" name="Rólunk"></app-navbar-item>
        <!--<ng-container *ngIf="userService.isLoggedIn$ | async; else notLoggedInBlock">-->
        <ng-container *ngIf="isLoggedIn; else notLoggedInBlock">

          <a class="nav-item nav-link tn btn-primary text-light ml-lg-2 btn-sm" routerLinkActive="active"
             routerLink="/user">Profile</a>
            <ng-container *ngIf="!userName; else showUserName">
              <app-loading-spinner [loaderWidth]="20" [loaderHeight]="20"></app-loading-spinner>
            </ng-container>
            <ng-template #showUserName>
              <a class="nav-item nav-link" routerLinkActive="active" (click)="logout()" routerLink="#">         Kilépés ( {{userName}})
              </a>
            </ng-template>
        </ng-container>

        <ng-template #notLoggedInBlock>
          <app-navbar-item url="/user/login" name="Belépés"></app-navbar-item>

          <a href="regisztracio.html" class="nav-item nav-link btn btn-primary text-light ml-lg-2 btn-sm"
             routerLink="/user/registration">Regisztráció</a>
        </ng-template>


      </div>

    </div>
  </div>
</nav>

