<div class="container">


  <!--Form with header-->
  <div class="card mb-4 col-11 col-sm-8 mx-auto p-0">

    <div class="card-header">
      <div class="bg-light text-center">
        <h3>Profil módosítása</h3>
      </div>
    </div>

    <div class="card-body">
      <div class="row justify-content-center bg-light m-0">
        <img class="profil my-3 border" [src]="user.profilePictureUrl" alt="Card image cap">
      </div>
      <!--card-body-->
      <form #profileEditForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nev">Név</label>
          <input type="text" class="form-control mb-3" id="nev" placeholder="név"
                 [(ngModel)]="user.name" name="userName"
                 #name="ngModel"
                 required
          >
          <alert type="danger" *ngIf="name.touched && name.invalid"> Kötelezően kitöltendő mező !!</alert>
        </div>

        <div class="form-group">
          <label for="email">Email cím</label>
          <input type="text" class="form-control mb-3" id="email" placeholder="email cím"
                 [(ngModel)]="user.email" name="userEmail"
                 required
                 #email="ngModel"
          >
          <alert type="danger" *ngIf="email.touched && email.invalid"> Kötelezően kitöltendő mező !!</alert>

        </div>

        <div class="form-group">
          <label for="nev">Lakcím</label>
          <input type="text" class="form-control mb-3" id="address" placeholder="név"
                 [(ngModel)]="user.address" name="userAddress"
                 required
                 #address="ngModel"
          >
          <alert type="danger" *ngIf="address.touched && address.invalid"> Kötelezően kitöltendő mező !!</alert>

        </div>

        <div class="form-group">
          <label for="szul">Születési idő</label>
          <input type="date" class="form-control mb-3" id="szul" placeholder="születési idő"
                 [(ngModel)]="user.dateOfBirth" name="userDateOfBirth"
                 required
                 #dateOfBirth="ngModel"
          >
          <alert type="danger" *ngIf="address.touched && address.invalid"> Kötelezően kitöltendő mező !!</alert>

        </div>

        <div class="form-group">
          <label class="pr-5">Nemed</label>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="fiu">
              <input type="radio" id="fiu"
                     class="form-check-input"
                     [(ngModel)]="user.gender" name="gender"
                     value="male"
              >Fiú
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="lany">
              <input type="radio" id="lany"
                     class="form-check-input"
                     [(ngModel)]="user.gender" name="gender"
                     value="female"
              >Lány
            </label>
          </div>

        </div>

        <div class="form-group">
          <label for="nev">Profil kép Url</label>
          <input type="text" class="form-control mb-3" id="profilePicture" placeholder="Profil kép Url"
                 [(ngModel)]="user.profilePictureUrl" name="profilePictureUrl"
                 #profilePictureUrl="ngModel"
                 required
          >
          <alert type="danger" *ngIf="profilePictureUrl.touched && profilePictureUrl.invalid"> Kötelezően kitöltendő mező !!</alert>
        </div>

        <div class="text-center mb-3">
          <input class="btn btn-primary btn-lg" type="submit" value="mentés"
                [disabled]="profileEditForm.invalid" >
        </div>
      </form>
    </div>

  </div>
</div>
